<!-- <ul>
   
    <li><a routerLink="/">Data Binding </a></li>

    <li><a routerLink="/ngfor">ngfor</a></li>

    <li><a routerLink="/ngif">ngif</a></li>

</ul>  -->



<!-- <router-outlet></router-outlet> -->




<!-- <app-template-form></app-template-form> -->
<!-- <app-reactive-form></app-reactive-form> -->
 <!-- <app-getapi></app-getapi> -->

 
  <!-- <app-post-api></app-post-api>  
  <app-customer></app-customer>
  <app-ngfor></app-ngfor>
<app-progree-bar></app-progree-bar>
<app-crew></app-crew>
<app-crew-desgination></app-crew-desgination> -->
<app-login></app-login>

<!-- created the pipe in ngfor -->























<!-- <app-data-binding></app-data-binding> -->
<!-- <app-ngif></app-ngif>  -->
<!-- <app-ngfor></app-ngfor> -->
 <!-- <app-ng-class></app-ng-class> -->