<h1> Hello everyone  {{name}} {{age}}  {{name}} </h1>
<!-- normal text binding and string interpolation -->
<h2>  {{company}}     {{name}} </h2>  

<!-- property binding -->
<img [src]="imageurl" height="400">       
<input [type]="inpType">


<!-- event binding  -->
<button (click)="printData()">Click</button>

<div class="circle" [class.available]="isAvailable"></div>

<app-product [pname]="'Samsung S51'"   [imgurl]="'https://images.samsung.com/is/image/samsung/p6pim/in/2501/gallery/in-galaxy-s25-s936-sm-s936bdbcins-thumb-544669179?$UX_EXT2_PNG$'"></app-product> 
<app-product [pname]="'I phone -14'"  ></app-product>
<app-category>

  
</app-category>